<div
  class="h-full md:shadow max-w-[600px] mx-auto sm:p-8 p-4 flex flex-col justify-between"
>
  <!-- Top content -->
  <div>
    <div class="flex justify-between">
      <button routerLink="/">
        <img src="assets/icons/back.png" alt="back" class="sm:h-8 h-6" />
      </button>
      <p class="sm:text-headline text-md-headline font-medium">BT01191918898</p>
      <div></div>
    </div>

    <div class="flex flex-col items-center justify-center gap-x-5">
      <img src="assets/icons/full-battery.png" alt="plus" class="h-10 mt-10" />
      <p class="text-gray-300 mt-2">88% August 7, 2020 2:55 PM</p>
      <div
        class="mt-20 h-56 w-56 rounded-full border-2 border-[#2287fb] flex flex-col items-center justify-center gap-y-2"
      >
        <img
          src="assets/icons/bluetooth-new.png"
          alt="bluetooth"
          class="sm:h-14 h-10"
        />
        <p class="text-[#2287fb]">Connectable</p>
      </div>
      <div class="flex flex-col items-center mt-10 gap-y-5">
        <img
          src="assets/icons/bluetooth.png"
          alt="bluetooth"
          class="sm:h-8 h-6"
        />
        <p class="text-gray-300 sm:text-sm-headline text-labels font-medium">
          Bluetooth
        </p>
      </div>
    </div>
  </div>

  <!-- Bottom content -->
  <div class="mt-auto mb-20">
    <div class="flex items-center justify-between w-full">
      <button class="flex flex-col items-center justify-center">
        <div
          class="h-16 w-16 rounded-full bg-[#1f88fe] flex items-center justify-center"
        >
          <img
            src="assets/icons/interface.png"
            alt="interface"
            class="sm:h-8 h-6"
          />
        </div>
        <p class="sm:text-sm-headline text-sm-regular text-gray-300">
          Away mode
        </p>
      </button>
      <button class="flex flex-col items-center justify-center">
        <div
          class="h-16 w-16 rounded-full flex items-center justify-center border-2 border-[#f2f2f2]"
        >
          <img src="assets/icons/bell.png" alt="bell" class="sm:h-8 h-6" />
        </div>
        <p class="sm:text-sm-headline text-sm-regular text-gray-300">
          Activities
        </p>
      </button>
      <button class="flex flex-col items-center justify-center">
        <div
          class="h-16 w-16 rounded-full flex items-center justify-center border-2 border-[#f2f2f2]"
        >
          <img src="assets/icons/share.png" alt="share" class="sm:h-8 h-6" />
        </div>
        <p class="sm:text-sm-headline text-sm-regular text-gray-300">Share</p>
      </button>
      <button class="flex flex-col items-center justify-center">
        <div
          class="h-16 w-16 rounded-full flex items-center justify-center border-2 border-[#f2f2f2]"
        >
          <img
            src="assets/icons/settings.png"
            alt="settings"
            class="sm:h-8 h-6"
          />
        </div>
        <p class="sm:text-sm-headline text-sm-regular text-gray-300">
          Settings
        </p>
      </button>
    </div>
  </div>
</div>
