@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
}

code {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #000000;
}

table,
div,
input,
p,
button,
span,
input::placeholder {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #000000;
}
