<div class="h-full md:shadow max-w-[600px] mx-auto sm:p-8 p-4">
  <div class="flex justify-between">
    <button routerLink="/">
      <img src="assets/icons/back.png" alt="back" class="sm:h-8 h-6" />
    </button>
    <p class="sm:text-headline text-md-headline font-medium">Help center</p>
    <div></div>
  </div>

  <button
    class="px-2 pt-10 pb-4 flex justify-between items-center border-b w-full"
  >
    <div class="flex items-center gap-x-5">
      <div
        class="sm:h-24 h-20 sm:w-24 w-20 rounded-full bg-[#6fb5f9] flex items-center justify-center"
      >
        <img src="assets/icons/power.png" alt="plus" class="h-16" />
      </div>
      <p
        class="text-[#2f3f49] font-medium sm:text-md-headline text-sm-headline"
      >
        App usage problem
      </p>
    </div>
    <img src="assets/icons/next.png" alt="plus" class="h-6" />
  </button>
  <button
    class="px-2 pt-10 pb-4 flex justify-between items-center border-b w-full"
  >
    <div class="flex items-center gap-x-5">
      <div
        class="sm:h-24 h-20 sm:w-24 w-20 rounded-full bg-[#55d0f8] flex items-center justify-center"
      >
        <img src="assets/icons/features.png" alt="plus" class="h-16" />
      </div>
      <p
        class="text-[#2f3f49] font-medium sm:text-md-headline text-sm-headline"
      >
        Features
      </p>
    </div>
    <img src="assets/icons/next.png" alt="plus" class="h-6" />
  </button>
  <button
    class="px-2 pt-10 pb-4 flex justify-between items-center border-b w-full"
  >
    <div class="flex items-center gap-x-5">
      <div
        class="sm:h-24 h-20 sm:w-24 w-20 rounded-full bg-[#9ca8df] flex items-center justify-center"
      >
        <img src="assets/icons/lock.png" alt="plus" class="h-16" />
      </div>
      <p
        class="text-[#2f3f49] font-medium sm:text-md-headline text-sm-headline"
      >
        Lock installation
      </p>
    </div>
    <img src="assets/icons/next.png" alt="plus" class="h-6" />
  </button>
  <button
    class="px-2 pt-10 pb-4 flex justify-between items-center border-b w-full"
  >
    <div class="flex items-center gap-x-5">
      <div
        class="sm:h-24 h-20 sm:w-24 w-20 rounded-full bg-[#fdb52a] flex items-center justify-center"
      >
        <img src="assets/icons/alert.png" alt="plus" class="sm:h-16 h-12" />
      </div>
      <p
        class="text-[#2f3f49] font-medium sm:text-md-headline text-sm-headline"
      >
        Normal trouble shooting
      </p>
    </div>
    <img src="assets/icons/next.png" alt="plus" class="h-6" />
  </button>
</div>
